@font-face {
  font-family: 'HancomMalangMalang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: HancomMalangMalang-Regular;
}
