@font-face {
  font-family: 'HancomMalangMalang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: HancomMalangMalang-Regular;
}

.avatar {
  border-radius: 50%;
  border-color: gray;
  background-color: #d8d8d8;
}
.avatar-sm {
  width: 20px;
  height: 20px;
}
.avatar-md {
  width: 40px;
  height: 40px;
}
.avatar-lg {
  width: 80px;
  height: 80px;
}
