/* div {
  width: 200px;
  height: 200px;
  background-color: pink;
} */
/* 제일 바깥(상위)부터 하나씩 */
.container {
}

.container .heroes {
  /* hero를 정렬하고 싶기때문에 그 부모인 heroes에 display flex를 넣는다 */
  display: flex;
  /* 기본적으로 flex로 넣으면 한 화면에 들어가려고하기때문에
     줄바꿈을 해준다 : flex-wrap 사용 */
  flex-wrap: wrap;
  background-color: pink;
  /* 수평에서 가운데로 정렬할때 justify-content, 핑크 박스 안에있는 것
     수직 정렬은 align */
  justify-content: center;
  /* 자기자신 최대 넓이 제한
    넓이가 있고 margin이 auto이면 자기자신 가운데 정렬한다 */
  max-width: 700px;
  margin: 0 auto;
  /* padding 넣으면 요소가 커진다? */
  padding: 40px 20px;
}

.container .heroes .hero {
  /* 개별 이미지마다 색을 준다 */
  margin: 4px;
  width: 80px;
  height: 84px;
  background-color: #555;
  border: 3px solid #fff;
  /* border와 padding 같이 계산, 요소가 더 커지지 않는다 */
  box-sizing: border-box;

  /* transform : 변형하는 속성, 14도정도 틀어라 */
  transform: skew(-14deg);
  /* 모서리를 둥글리다 */
  border-radius: 10px;
  /* 이미지 자연스럽게 바뀌도록 애니메이션 넣어준다 */
  transition: transform 0.1s, background-color 0.6s;
}

.container .heroes .hero:hover {
  /* hero에 마우스오버 시 색상 변경 */
  background-color: #ff9c00;
  /* 이미지 크기 변경 -> transform scale, transform하면서 초기화되므로 skew다시해줌 */
  transform: skewX(-14deg) scale(1.3);
  /* Z-index로 맨 위로 올려준다 */
  z-index: 1;
}

.container .heroes .hero .image {
}
