<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--MyBatis 매퍼 설정 파일-->
<mapper namespace="org.scoula.board.mapper.BoardMapper">
<!--    getList 메서드를 정의하고 결과 타입을 BoardVO로 설정-->
<!--    <select id="getList" resultType="org.scoula.board.domain.BoardVO">-->
<!--    mybatis-config.xml 에서 typeAliases 패키지네임을 "org.scoula.board.domain"로 주었으므로-->
<!--    resultType에 풀 패키지명 안쓰고 바로 파일명 작성했다-->
<select id="getList" resultType="BoardVO">
<!--        <와 같은 기호가 들어갔을 경우 비교식이라는 것을 알려주기 위해 ![CDATA] 사용-->
        <![CDATA[
    select * from tbl_board
    order by no desc
    ]]>
</select>

<!--    #{} 부분에는 매번 넣어주는 변수가 들어간다-->
<!--    <select id="get" resultType="BoardVO">-->
<!--        select * from tbl_board where no = #{no}-->
<!--    </select>-->

    <select id="get" resultMap="boardMap">
        select b.*, a.no as ano, a.bno, a.filename, a.path,
               a.content_type, a.size, a.reg_date as a_reg_date
        from tbl_board b
                 left outer join tbl_board_attachment a
                                 on b.no = a.bno
        where b.no = #{no}
        order by filename
    </select>



<!--    tbl_board 테이블의 title, content, writer 컬럼에 각각의 값을 집어넣는다-->
<!--    no는 자동 증가 값이기때문에 생략-->
<!--    LAST_INSERT_ID(): 가장 최근에 발급한 아이디-->
<!--    KeyProperty : VO 객체의 key는 어디에 있는지 (setNo로 값을 넣어라-->
<!--    KeyColumn : 테이블의 컬럼 명이 무엇인지-->
<!--    order : 이 쿼리를 언제 시작할 건지 (INSERT 문 후에 실행)-->
    <insert id="create">
        insert into tbl_board (title, content, writer)
        values (#{title}, #{content}, #{writer})

        <selectKey resultType="Long" keyProperty="no" keyColumn="no" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>


<!--    tbl_board의 no가 일치하는 행에서 title, content, writer 컬럼을 우리가 넣어준 값으로 수정-->
<!--    updated_date는 현재 시간으로 수정-->
    <update id="update">
        update tbl_board set
            title = #{title},
            content = #{content},
            writer = #{writer},
            update_date=now()
        where no=#{no}
    </update>


<!--    해당 no 컬럼과 일치하는 행을 삭제-->
    <delete id="delete">
        delete from tbl_board where no=#{no}
    </delete>



<!--    파일첨부-->
    <insert id="createAttachment">
        insert into tbl_board_attachment(filename, path, content_type, size, bno)
        values(#{filename}, #{path}, #{contentType}, #{size}, #{bno})
    </insert>

    <select id="getAttachmentList" resultType="BoardAttachmentVO">
        select * from tbl_board_attachment
        where bno = #{bno}
        order by filename
    </select>

    <select id="getAttachment" resultType="BoardAttachmentVO">
        select * from tbl_board_attachment
        where no = #{no}
    </select>

    <delete id="deleteAttachment">
        delete from tbl_board_attachment
        where no = #{no}
    </delete>

    <resultMap id="attachmentMap" type="org.scoula.board.domain.BoardAttachmentVO">
        <id column="ano"                property="no"/>
        <result column="bno"            property="bno"/>
        <result column="filename"       property="filename"/>
        <result column="path"           property="path"/>
        <result column="contentType"    property="contentType"/>
        <result column="size"           property="size"/>
        <result column="a_reg_date"     property="regDate"/>
    </resultMap>


    <resultMap id="boardMap" type="org.scoula.board.domain.BoardVO">
        <id column="no"                 property="no" />
        <result column="title"          property="title"  />
        <result column="content"        property="content" />
        <result column="writer"         property="writer" />
        <result column="reg_date"       property="regDate" />
        <result column="update_date"    property="updateDate" />
        <collection property="attaches" resultMap="attachmentMap" />
    </resultMap>

</mapper>