<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      예금액 : <input type="text" v-model="amount" />
      <!-- title은 마우스 오버 시 출력되는 텍스트 상자 -->
      <!-- v-if도 조건식을 넣어주는건 동일하지만,
      조건식이 false일 경우 요소가 아예 없어진다 -->
      <img
        v-if="amount < 0"
        src="https://contactsvc.bmaster.kro.kr/img/error.png"
        title="마이너스는 허용하지 않습니다."
        style="width: 15px; height: 15px; vertical-align: middle"
      />
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return { amount: '' };
        },
      }).mount('#app');
    </script>
  </body>
</html>
