<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    helloServlet이 어떤 클래스인지 찾아주는 설정-->
<!--    <servlet>-->
<!--        <servlet-name>helloServlet</servlet-name>-->
<!--        <servlet-class>org.scoula.ex02.HelloServlet</servlet-class>-->
<!--    </servlet>-->

<!--&lt;!&ndash;    helloServlet의 url 매핑 설정&ndash;&gt;-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>helloServlet</servlet-name>-->
<!--        <url-pattern>/hello-servlet</url-pattern>-->
<!--    </servlet-mapping>-->
    
</web-app>