<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.mapper.TimeMapper">

<!--        해당 SQL문을 getTime2 함수에 매핑시켜줌-->
<!--        SELECT 문의 경우 resultType이 필수로 들어가야 한다 (return할 데이터 타입)-->
<!--        쿼리가 길어질 경우 SQL문과 메소드가 섞이기 때문에 인터페이스 분리-->
        <select id="getTime2" resultType="java.lang.String">


                SELECT sysdate()
        </select>
</mapper>